/* Inventory.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

/* Navigation styles */
nav {
    background-color: #4CAF50;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #3e8e41;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

#submit-refresh{
    background-color: #4CAF50;
    font-family: Counter-Strike;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

table{
    border-collapse: collapse;
}

table th{
    text-align: center;
    background-color: #2d2dc7;
    color: #cccccc;
    padding: 4px 90px 10px 8px;
    font-size: 25px;
    border: 3px solid #e3e3e3;
}

table td{
    border: 3px solid #e3e3e3;
    padding: 4px 8px;
    padding: 4px 90px 10px 8px;
}


.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

/*.flex-item {
    background: #4f4c4c;
    padding: 5px;
    width: fit-content;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}




.aside-left{
    background: #567f8d;
}

.aside-middle {
    background: #608159;
}

.aside-right {
    background: #247a60;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-left { order: 1; }
    .aside-middle   { order: 2; }
    .aside-right { order: 3; }

}

body {
    padding: 2em;
}