*{
    padding: 0;
    margin: 0;
    background-color: #333333;
}

#header{
    display: grid;
}

.header_bar{
    display: flex;
    background-color: green;
}

#cart-icon{
    margin-left: 88vw;
    background-color: green;
}

h1{
    color: white;
    align-self: center;
    background-color: green;
}

h3{
    color: white;
}

.wrapper{
    display: inline-flex;
}

img:hover{
    background-color: yellow
}
.price-plus{
    display: flex;
    margin-left: 200px;
}


.product-displayed{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    margin-left: 50px;
    margin-top: 50px;
}

.product_Name{
    text-align: center;
    font-size: 30px;
    background-color: green;
    color: white;
}

.product-displayed button{
    font-size: 16px;
    background-color: green;
    color: white;
    border-radius: 3px;
}

.minus-quantity{
    margin-left: 85px;
}

.product_Price{
    /*margin-left: 200px;*/
    /*font-size: 20px;*/
    color: white;
}

.dollarSign{
    color: white;
}

#sidebar {
    display: none;
    position: fixed;
    top: 10vh;
    right: 0;
    bottom: 10vh;
    width: 300px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 3px;
    border-style: dashed;
}


#cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 60vh;
}

.shopping-cart{
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #101010;
    border-color: green;
}


.add-cart-inline{
    display: flex;
}

#close-sidebar {
    margin-top: 20px;
}
#checkout {
    margin-top: 20px;
}
.inline{
    display: inline-list-item;
}
.product_Description{
    color: white;
}
.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    display: none;
    position: absolute;
    margin-left: 95%;
    margin-top: 20px;
    color: white;
}

button{
    margin-right: 115px;
}
h2{
    color: white;
    background-color: green;
}

.current-price{
    color: white;
}

.current-quantity{
    color: white;
}

#result_area{
    width: 85vw;
}

#checkout{
    background-color: green;
    color: white;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
}

input{
    color: green;
}

#totalSale{
    color: white;
}
.product-footer{
    display: flex;
    padding-bottom: 10px;
}